@charset "UTF-8"; /* KEYBOARD CODE OF THE STYLIZATIONS CODE */

@media print /* MEDIA QUERY PRINT */ {
    body {
        padding-bottom: 0px;
    }

    #scrollB, #scrollT, footer {
        background-color: rgba(0, 0, 0, 0);
    }

    #scrollB, #scrollT, header, #see, #saveIcon, #erase, #counterBottom {
        display: none;
    }

    #IP, #equalIP, #equalRepeatedListIP{
        font-size: 1.5em;
    }
    
    #IP:hover, #equalIP:hover, #equalRepeatedListIP:hover, footer {
        border-top: 2px solid rgba(0, 0, 0, 0);
    }
    
    #counterTop, #counterBottom, #counterTop:hover, #counterBottom:hover {
        border: 2px solid black;
    }
    
    #IP, #equalIP, #equalRepeatedListIP, table, caption, #counterTop, #counterBottom, #erase, footer {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    #IP, #equalIP, #equalRepeatedListIP, #counterTop, table, #counterBottom, #by {
        color: black;
    }
    
    #counterTop, #counterBottom {
        font-size: 1.7em;
    }

    caption {
        border: 1px solid rgba(0, 0, 0, 0);
    }
    caption, #by {
        font-size: 3em;
    }
    th {
        position: unset;
        top: 0px;
        width: 55vw;
        font-size: 2.5em;
    }
    td {
        background-color: rgba(255, 255, 255, 0);
        font-size: 1.4em;
    }

    td, #by {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    
    #erase {
        border: 2px solid rgba(0, 0, 0, 0);
    }

    #erase, #scrollB, #scrollT {
        color: rgba(0, 0, 0, 0);
    }

    footer {   
        border-right: 0px solid rgba(0, 0, 0, 0);
        position: unset;
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 1050px) /* MEDIA QUERY SMALL SCREENS(phones) */ {
    body {
        padding-bottom: 4px;
    }
    
    #scrollB, #scrollT {
        padding: 0px 12px 10px 12px;
        font-size: 10vw;
        transition: var(--configTrasition02s);
    }
    #scrollB {
        left: 9vw; /* left: 17.4vw; */
        top: 640px; /*top: 160px;*/ /*top: 45vh;*/
    }
    #scrollT {
        right: 9vw;
        top: 640px; /*top: 45vh;*/
    }
    #scrollB:hover, #scrollT:hover {
        color: var(--colorWhite);  
    }

    header {
        font-size: 2.7vw;
    }
    .navs {
        margin: 0px 5px 0px 5px;
        transition: var(--configTrasition02s);
    }
    #home {
        transition: var(--configTrasition02s);
    }
    #home:hover {
        color: var(--colorWhite);
    }
    #home:active {
        color: var(--colorInteractionElements);
    }
    #home:focus {
        outline: 1px solid rgba(255, 255, 255, 0);
    }
    
    #see {
        padding: 0px 11px 2px 11px;
        font-size: 8vw;
        transition: var(--configTrasition02s);
    }
    #see:hover {
        background-color: var(--colorWhite);
        color: var(--colorBlack);
        border: 2px solid var(--colorBlack);
        transform: translate(0px, -10px);
    }
    #see:active {
        background-color: var(--colorContrast);
        color: var(--colorWhite);
        border: 2px solid var(--colorBlue);
        transform: translate(0px, 0px);
    }
    #see:focus {
        border: 2px solid var(--colorBlue);
        outline: 2px solid rgba(0, 0, 255, 0);
    }

    #IP, #equalIP, #equalRepeatedListIP {
        font-size: 3vw;
        margin: 13px 4px 13px 4px;
        transition: var(--configTrasition02s); 
    }
    #IP:hover, #equalIP:hover, #equalRepeatedListIP:hover  {
        border-top: 2px solid var(--colorBlack);
        border-bottom: 2px solid var(--colorBlack);
    }

    #saveIcon {
        padding: 5px 10px 7px 10px;
        font-size: 3vw;
    }

    #counterTop, #counterBottom {
        font-size: 3vw;
    }
    #counterBottom {
        margin-bottom: 10px;
    }
    #counterTop:hover, #counterBottom:hover {
        border: 2px solid var(--colorBlack);
    }

    caption {
        font-size: 6vw;
    }
    th {
        font-size: 4vw;
        width: 45vw;
    }
    td {
        font-size: 3vw;
    }

    #erase {
        padding: 3px 15px 10px 15px;
        margin: 0px 0px 84px 0px;
        font-size: 8vw;
        transition: var(--configTrasition02s);
    }
    #erase:hover {
        background-color: var(--colorWhite);
        border: 2px solid var(--colorBlack);
        transform: translate(0px, 10px);
    }
    #erase:active {
        background-color: var(--colorRed);
        border: 2px solid var(--colorRed);
        transform: translate(0px, 0px);
    }
    #erase:focus {
        border: 2px solid var(--colorRed);
        outline: 2px solid rgba(255, 0, 0, 0);
    }

    footer {
        font-size: 2.7vw;
    }
    #linklOuKo:focus {
        outline: 1px solid rgba(255, 255, 255, 0);
    }
}