@charset "UTF-8"; /* KEYBOARD CODE OF THE STYLIZATIONS CODE */

/* BODY STYLIZATION */
body {
    padding-bottom: 90px;
    transition: 0.3s;
}

/* LOADING BAR STYLIZATION */
#barLoading {
    width: 0vw;
    visibility: hidden;
    transition: 0.3s;
}

/* ABBR STYLIZATION */
abbr {
    text-decoration: none;
}
/*.abbrS {
    visibility: hidden;
}*/
/* A STYLIZATION */
a {
    text-decoration: none;
}

/* MAIN STYLIZATION */
main {
    display: flex;
    place-items: center;
    flex-direction: column;
}

/* BUTTON SEE STYLIZATION */
#see {
    display: inline-block;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    border: 2px solid var(--colorBlack);
    outline: 2px solid rgba(0, 0, 0, 0);
    margin: 0px 0px 0px 0px;
    padding: 0px 17px 3px 17px;
    font-size: 3.5vw;
    cursor: pointer;
    transform: translate(0px, -10px);    
    transition: 0.3s;
}
#see:hover {
    background-color: var(--colorContrast);
    color: var(--colorWhite);
    border: 2px solid var(--colorBlue);
    transform: translate(0px, 0px);
}
#see:active {
    background-color: var(--colorContrast);
    color: var(--colorWhite);
    border: 2px solid var(--colorBlue);
    transform: translate(0px, 0px);
}
#see:focus {
    border: 2px solid rgba(30, 30, 170, 0);
    outline: 2px solid var(--colorBlue);
}

/* IP EQUAL IP REPEATED IP STYLIZATION */
#IP, #equalIP, #equalRepeatedListIP {
    display: inline-block;
    background-color: var(--colorContrast);
    color: var(--colorWhite);
    border-top: 2px solid var(--colorBlack);
    border-bottom: 2px solid var(--colorBlack);
    border-left: 2px solid var(--colorWhite);
    border-right: 2px solid var(--colorWhite);
    border-radius: 50px;
    box-shadow: 2px 2px 10px var(--colorShadow);
    padding: 10px 13px 9px 13px;
    margin: 13px 8px 13px 8px;
    font-size: 2vw;
    font-family: var(--fontMonoSerif);
    cursor: help;
    transition: 0.3s;
}
#IP:hover, #equalIP:hover, #equalRepeatedListIP:hover {
    border-top: 2px solid var(--colorInteractionElements);
    border-bottom: 2px solid var(--colorInteractionElements);
}

/* SAVE ICON STYLIZATION */
#saveIcon {
    display: inline-block;
    background-color: var(--colorContrast);
    color: rgb(100, 100, 100);
    border: 2px solid var(--colorBlack);
    border-radius: 50px;
    box-shadow: 2px 2px 10px var(--colorShadow);
    padding: 5px 10px 10px 10px;
    margin-bottom: 13px;
    font-size: 1.7vw;
    font-family: var(--fontDisplay);
    cursor: default;
    user-select: none;
    cursor: help;
    transition: 0.3s;
    animation: none;
}

/* ITENS COUNTER STYLIZATION */
#counterTop, #counterBottom {
    display: inline-block;
    background-color: var(--colorContrast);
    color: var(--colorWhite);
    border: 2px solid var(--colorBlack);
    border-radius: 50px;
    box-shadow: var(--configButton-boxshadow);
    padding: 10px 13px 9px 13px;
    font-size: 1.7vw;
    font-family: var(--fontMonoSerif);
    cursor: help;
    transition: 0.3s;
}
#counterBottom {
    margin-bottom: 13px;
    opacity: 0; 
    pointer-events: none;
}
#counterTop:hover, #counterBottom:hover {
    border: 2px solid var(--colorInteractionElements);
}

/* LIST STYLIZATION */
table {
    box-shadow: 2px 2px 10px var(--colorShadow);
    color: var(--colorWhite);
    margin: 13px 0px 13px 0px;
    border-collapse: collapse;
}
caption {
    background-color: var(--colorContrastOpacity);
    border-top: 1px solid var(--colorBlack);
    border-left: 1px solid var(--colorBlack);
    border-right: 1px solid var(--colorBlack);
    border-radius: 50% 50% 0 0;
    box-shadow: 2px 2px 10px var(--colorShadow);
    padding: 7px;
    font-size: 3vw;
    font-family: var(--fontDisplay);
    font-weight: bolder;
    cursor: help;
    user-select: none;
    transition: 0.3s;
}
tr:nth-child(even) td {
    background-color: rgb(56, 56, 56);
}
tr:nth-child(odd) td {
    background-color: rgb(39, 39, 39);
}
th {
    background-color: var(--colorContrastOpacity);
    border: 1px solid var(--colorBlack);
    padding: 7px;
    font-size: 2.7vw;
    font-family: var(--fontDisplay);
    font-weight: bold;
    text-align: center;
    width: 30vw;
    position: sticky;
    top: -0.1px;
    cursor: help;
    user-select: none;
    transition: 0.3s;
}
td {
    border: 1px solid var(--colorBlack);
    padding: 7px;
    font-family: var(--fontMonoSerif);
    text-shadow: 2px 2px 4px var(--colorShadow);
    font-size: 2vw;
    text-align: start;
    opacity: 1;
    pointer-events: unset;
    transition: 0.3s;
}

/* BUTTON ERASE STYLIZATION */
#erase {
    display: inline-block;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    border: 2px solid var(--colorBlack);
    outline: 2px solid rgba(0, 0, 0, 0);
    margin: 0px 0px 0px 0px;
    padding: 0px 17px 10px 17px;
    font-size: 3.5vw;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transform: translate(0px, 10px);    
    transition: 0.3s;
}
#erase:hover {
    background-color: var(--colorRed);
    border: 2px solid var(--colorRed);
    transform: translate(0px, 0px);
}
#erase:active {
    background-color: var(--colorRed);
    border: 2px solid var(--colorRed);
    transform: translate(0px, 0px);
}
#erase:focus {
    border: 2px solid rgba(207, 44, 44, 0);
    outline: 2px solid var(--colorRed);
}

/* BUTTONS SCROLLS STYLIZATION */
#scrollB, #scrollT {
    position: fixed;
    /*bottom: 160px;*/ top: 45vh;
    padding: 0px 7px 5px 7px;
    font-size: 3.7vw;
    z-index: 2000;
    transition: 0.3s;
}
#scrollB {
    display: inline-block;
    transform: scaleY(-1);
    /*left: 31.6vw;*/ left: 6.5vw;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
#scrollT{
    display: inline-block;
    /*right: 31.6vw;*/ right: 6.5vw;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

/* FOOTER STYLIZATION */
footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--colorContrastOpacity);
    border-radius: 0px 50px 0px 0px;
    border-top: 2px solid var(--colorBlack);
    border-right: 2px solid var(--colorBlack);
    box-shadow: -2px -2px 10px var(--colorShadow);
    font-size: 1.2vw;
    padding: 7px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: 0.3s;
}
/* CREDITS STYLIZATION */
#by {
    color: var(--colorWhite);
    padding: 7px 0px 0px 0px;
    font-family: var(--fontDisplay);
    user-select: none
}
#lOuKo {
    font-family: 'Borel', cursive;
    padding: 7px 0px 0px 0px;
}
#linklOuKo {
    text-decoration: none;
    outline: 1px solid rgba(0, 0, 0, 0);
    pointer-events: none;
}
#linklOuKo:focus {
    outline: 1px solid var(--colorWhite);
    border-radius: 50px;
}
#l {
    color: red;
    transition: 0.3s;
}
#O {
    color: blueviolet;
    transition: 0.3s;
}
#u {
    color: paleturquoise;
    transition: 0.3s;
}
#K {
    color: gold;
    transition: 0.3s;
}
#o {
    color: greenyellow;
    transition: 0.3s;
}