@charset "UTF-8"; /* KEYBOARD CODE OF THE STYLIZATIONS CODE */

@media print /* MEDIA QUERY PRINT */ {
    header, footer  {
        display: none;
    }

    #porEnquanto {
        color: black;
        font-size: 3em;
        font-family: var(--fontDisplay);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
        pointer-events: none;
    }

    footer {
        border: 2px solid rgba(0, 0, 0, 0);
        box-shadow: -2px -2px 10px rgba(0, 0, 0, 0);
        position: unset;
    }
    #linkCredits {
        color: black;
    }
}
