@charset "UTF-8"; /* KEYBOARD CODE OF THE STYLIZATIONS CODE */

main {
    display: flex;
    flex-direction: column;
    place-items: center;
}

#container {
    background-color: var(--colorWhite);
    border-radius: 10px;
    padding: 0px 35px 0px 35px;
    line-height: 2em;
}
h1 {
    box-sizing: border-box;
    padding: 50px 0px 15px 0px;
    text-align: center;
    font-size: 3.5vw;
    font-family: var(--fontDisplay);
    word-wrap: break-word;
}
#subTitle {
    box-sizing: border-box;
    color: var(--colorBlack);
    padding: 15px 0px 30px 0px;
    font-size: 2vw;
    font-family: var(--fontDisplay);
    word-wrap: break-word;
}
#list {
    margin: 0px 0px 25px 7em;
}
.tips {
    box-sizing: border-box;
    padding: 5px 0px 5px 0px;
    color: var(--colorBlack);
    font-size: 1.5vw;
    font-family: var(--fontSerif);
    word-wrap: break-word;
    list-style-type: decimal;
}

/* FOOTER STYLIZATION */
footer {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorContrastOpacity);
    border-top: 2px solid var(--colorBlack);
    box-shadow: -2px -2px 10px var(--colorShadow);
    padding: 7px;
    text-align: center;
    font-size: 1.2vw;
    transition: var(--configTrasition03s);
}
/* CREDITS STYLIZATION */
#by {
    color: var(--colorWhite);
    padding: 7px 0px 0px 0px;
    font-family: var(--fontDisplay);
    user-select: none
}
#lOuKo {
    font-family: 'Borel', cursive;
    padding: 7px 0px 0px 0px;
}
#linklOuKo {
    outline: 1px solid rgba(0, 0, 0, 0);
    text-decoration: none;
}
#linklOuKo:focus {
    border-radius: 50px;
    outline: 1px solid var(--colorWhite);
}
#l {
    color: red;
    transition: var(--configTrasition03s);
}
#O {
    color: blueviolet;
    transition: var(--configTrasition03s);
}
#u {
    color: paleturquoise;
    transition: var(--configTrasition03s);
}
#K {
    color: gold;
    transition: var(--configTrasition03s);
}
#o {
    color: greenyellow;
    transition: var(--configTrasition03s);
}